beautifulsoup4
celery
Django~=5.2.1
django-environ
django-apscheduler
django-safedelete
django-celery-results
django-celery-beat
django-debug-toolbar
feedparser
mysqlclient
pylint
pylint-django
pylint-plugin-utils
python-dateutil
Pillow
polib
requests
selenium
