$screen-sm-down: 575px !default;
$screen-md-down: 767px !default;
$screen-lg-down: 991px !default;
$screen-xl-down: 1199px !default;
$screen-xxl-down: 1399px !default;

$screen-sm: 576px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1400px !default;
